beautifulsoup4==4.13.4
certifi==2025.4.26
charset-normalizer==3.4.2
idna==3.10
imageio==2.37.0
Nuitka==2.6.8
numpy==2.3.1
ordered-set==4.1.0
pillow==11.2.1
pyobjc-core==11.0
PySide6==6.9.0
PySide6_Addons==6.9.0
PySide6_Essentials==6.9.0
requests==2.32.3
shiboken6==6.9.0
soupsieve==2.7
tomlkit==0.13.3
typing_extensions==4.13.2
urllib3==2.4.0
zstandard==0.23.0
